<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de la Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">
</head>
<body>
    <div class="container">
        <h1>¡Juego Terminado!</h1>
        {% if ultimo_mensaje %}
            <ul class="flashes">
                <li class="flash-{{ ultima_categoria }}">{{ ultimo_mensaje }}</li>
            </ul>
        {% endif %}

        <div class="results-box">
            <h2>Hola, {{ usuario }}</h2>
            <p>Tu puntuación final es:</p>
            <p class="score">{{ aciertos }} / {{ total }}</p>


            <p class="percentage-score">({{ "%.2f"|format(porcentaje) }}%)</p>

            {% if porcentaje >= 70 %}
                <p class="message-success">¡Excelente trabajo! Eres un verdadero cinéfilo. 🎬</p>
            {% elif porcentaje >= 40 %}
                <p class="message-neutral">¡Bien hecho! Con un poco más de práctica, serás imparable. 👍</p>
            {% else %}
                <p class="message-fail">No te preocupes, ¡la próxima vez lo harás mejor! ✨</p>
            {% endif %}
        </div>
        
        <a href="{{ url_for('home') }}" class="button">Volver a la página inicial</a>
    </div>
</body>
</html>